SOURCE_CONSENSUS_RPC_URL=https://ethereum-sepolia.core.chainstack.com/beacon/26199111640b63cfe59339ac13f58674
SOURCE_CHAIN_ID=11155111
NEXUS_API_URL=http://127.0.0.1:7000
APP_ID=1
AVAIL_URL="wss://turing-rpc.avail.so:443/ws"